diffusers==0.11.1
torch
av
torchvision
transformers==4.31.0
xformers
imageio-ffmpeg
imageio
decord
loralib
gdown
einops
omegaconf
safetensors
gradio==4.0.0
wandb
lion-pytorch
accelerate==0.20.3
huggingface_hub==0.14.1
peft==0.13.0