diffusers==0.11.1
torch
av
torchvision
transformers
xformers
imageio-ffmpeg
imageio
decord
loralib
gdown
einops
omegaconf
safetensors
gradio==4.0.0
wandb
lion-pytorch
accelerate==0.17.1
huggingface_hub==0.14.1
tokenizers==0.13.3